@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, sunset;
}
@layer base {
  :root {
    --primary: 263 70% 50%;
    --secondary: 219 89% 72%;
    --accent: 159 61% 41%;
    --neutral: 221 39% 11%;
    --base: 0 0% 100%;
    --info: 198 93% 60%;
    --success: 158 64% 52%;
    --warning: 43 96% 56%;
    --error: 0 91% 71%;
  }
  
  
}

